<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>صفحه مورد نظر شما یافت نشد</h1>
        <h2>خطای 404</h2>
        <div class="error-actions"></div>
      </div>
    </div>
  </div>
</div>
