<h2 class="mt-2 text-center"><%=pageTitle  %></h2>
<div class="w-50 mx-auto"></div>
<div class="d-flex align-items-center justify-content-center">
  <div class="w-50">
    <br />
    <br />
    <br />
    <div class="form-group">
      <h5>دانشجویان منتسب شده به شما:</h5>
        <% for( let i = 0; i < 3; i++ ) { %>
            <h6>دانشجوی شماره <%=i+1  %>: </h6>
        <% } %>
    </div>

    <div class="row">
      <a href="/dashboard/student" class="btn btn-success m-2">پیام</a>
      
    </div>
  </div>
</div>
